<div  *ngIf="!authService.afAuth.auth.currentUser.emailVerified" style="padding:2px">

  <div style="text-align: center;">
    <p style="text-align: center;"> Please verfiy your email. 😊
      <button mat-button color="primary" (click)="authService.sendVerifyEmail()"  style="padding: 0px 2px; font-size:0.75rem" ><b>RESEND</b></button>
    </p>


  </div>
</div>
