




.col-block{

}
.currency-card{
  margin:15px;
  height:150px;
}



@media only screen and (min-width: 900px) {

  .col-block{
    width:33.333%
  }

  .col-left{
    width: 10%;

  }
  .col-middle{
    width: 80%;
  }
  .col-right{
    width: 10%;
  }
}

