<div class="content">


  <div class="row">



    <div class="col-left">





    </div>
    <div class="col-middle ">


      <h2 style="text-align: center;"> Articles</h2>

      <div class="padding-responsive" style="text-align: center;">
        <a mat-icon-button routerLink="/admin-new-article" matTooltip="New Article">
          <mat-icon>add</mat-icon>
        </a>
      </div>


      <mat-form-field>
        <mat-label>Search by anything</mat-label>
        <input matInput (keyup)="_applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;border-radius:10px;overflow:hidden">

        <!-- Position Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> URL. </th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="los">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> L O  S </th>
          <td mat-cell *matCellDef="let element">{{element.los}}</td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | string_to_date | date:'short'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedAt | string_to_date | date:'short'}} </td>
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef > Options </th>
          <td mat-cell *matCellDef="let element">
            <a mat-icon-button routerLink="/admin-article/{{element.id}}" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </a>

            <a mat-icon-button target="_{{element.id}}" href="https://alphabetaprep.com/article/{{element.url}}"
              matTooltip="View">
              <mat-icon>remove_red_eye</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>

    <div class="col-right padding-responsive">






    </div>





  </div>


</div>
