<mat-card  class="translucent translucent-hover"
  style="width:100%; height:100%;margin:5px 0px;padding: 0px; line-height:25px;border-radius:10px;text-align:left;overflow:hidden"
  routerLink="/post/{{post.id}}">


  <div class="row">
    <div class="col-md-3">
      <img [src]="post.images[0].downloadURL" style="height: 100px;width:100%;object-fit:cover" *ngIf="post.images"/>
    </div>
    <div class="col-md-9" style="padding: 8px 12px">
      <span style="">

        <h4
          style="margin:5px 0px;padding:0px;text-align:left;font-weight:bolder;word-break: break-all;white-space: normal;line-height:1rem">
          {{post.title }}
        </h4>

        <div style="font-size:80%;line-height:1rem">
          {{post.description}}

        </div>
        <div style="font-size:80%;line-height:1rem">
          {{post.category}}
          <br>
          {{post.createdAt | dateAgo}}
        </div>

      </span>
    </div>
  </div>

</mat-card>
