<div class="container" style="max-width: 800px;">

    <div class="p-1"></div>
    <h3 class="text-center">Add new order</h3>

    <div class="p-1"></div>
<mat-form-field appearance="outline" style="width:100%;">
    <mat-select placeholder="Select SKU">
        <mat-option *ngFor="let sku of SKUS" [value]="sku">
            {{sku}}
        </mat-option>
    </mat-select>
   
  </mat-form-field>


  <br>

  <mat-form-field appearance="outline" style="width:100%;">
    <mat-label>Customer</mat-label>
    <input matInput  placeholder="Enter Customer full name " />
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline" style="width:100%;">
    <mat-label>City</mat-label>
    <input matInput  placeholder="Enter destination city" />
  </mat-form-field>


  <br>
  <mat-form-field appearance="outline" style="width:100%">
                  <mat-label>Address</mat-label>
                  <textarea matInput  placeholder="Enter complete address"></textarea>
 </mat-form-field>


 <div class="text-center">


    <button  mat-raised-button color="orange" (click)="save()" [disabled]="loading" style="width: 100%;color:rgb(209, 110, 28)">
      <b>
        SAVE
      </b>

      <span *ngIf="loading == 'saving'" style="display: inline-block;padding:5px 0px 5px 15px ; color:rgb(209, 110, 28)">
        <mat-spinner color="accent" diameter="25"></mat-spinner>
      </span>
    </button>

    <p style="color: red;" *ngIf="error">{{error}}</p>

  </div>



 </div>