<h1 mat-dialog-title>{{data.displayName}}</h1>
<div mat-dialog-content>
  <pre>{{data | json}}</pre>
</div>
<div class="centered-horizontal">
  <button mat-button (click)="_close()">Close</button>

</div>
