<div class="content">


  <div class="row">



    <div class="col-left">





    </div>
    <div class="col-middle ">


      <h2 style="text-align: center;"> Users</h2>

      <div class="padding-responsive" style="text-align: center;">
        <a mat-icon-button routerLink="/admin-new-article" matTooltip="New Article">
          <mat-icon>add</mat-icon>
        </a>
      </div>


      <mat-form-field>
        <mat-label>Search by anything</mat-label>
        <input matInput (keyup)="_applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
        style="width: 100%;border-radius:10px;overflow:hidden">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id | trim : 5}}... </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>



        <ng-container matColumnDef="programs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Programs </th>
          <td mat-cell *matCellDef="let element">


            <span *ngIf="(element.programs | keys)[0]">
              <span style="color: green;">{{element.programs[((element.programs | keys)[0])].subscriptions ? "Paid":""}}</span>

              {{(element.programs | keys)[0] | trim: 15}}

            </span>
          </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt?.toDate() | string_to_date | date:'short'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedAt?.toDate()  | string_to_date | date:'short'}} </td>
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Options </th>
          <td mat-cell *matCellDef="let element">
            <!-- <a mat-icon-button routerLink="/admin-article/{{element.id}}" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </a> -->

            <button mat-icon-button (click)="_openInfo(element)" matTooltip="View">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>

    <div class="col-right padding-responsive">






    </div>





  </div>


</div>
