<div class="container " style="max-width: 800px;padding-top:20px">




  <span *ngIf="loading" style="margin-top:100px;" class="centered-horizontal">
    <mat-spinner color="accent" diameter="25"></mat-spinner>
  </span>
  <div *ngIf="!loading">

    <div *ngFor="let post of posts">

      <app-card-post [post]="post"></app-card-post>
    </div>
  </div>

</div>
