<div class="content">


  <h3 class="centered-horizontal">New Article</h3>
  <div class="row">



    <div class="col-left">





    </div>
    <div class="col-middle ">


      <div style="padding-left:5px;padding-right:5px;">

        <div style="height: 50%;">


          <div style="height:20px"></div>

          <div style="height:20px"></div>




          <div class=" ">


            <div class="row">
              <div class="col-2" style="padding: 0px 5px;">

                <mat-form-field appearance="outline" style="width:100%;">
                  <mat-label>Article URL</mat-label>
                  <input matInput [(ngModel)]="article.url" />
                </mat-form-field>

              </div>
              <div class="col-2" style="padding: 0px 5px;">


                <mat-form-field appearance="outline" style="width:100%">
                  <mat-label>Article Title</mat-label>
                  <input matInput [(ngModel)]="article.title" />
                </mat-form-field>
              </div>


            </div>


            <mat-accordion>


              <mat-expansion-panel style="width:100%; border-radius:5px">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Details
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field appearance="outline" style="width:100%">
                  <mat-label>Article Description</mat-label>
                  <textarea matInput [(ngModel)]="article.description"></textarea>
                </mat-form-field>



                <app-tags-input [allTags]="" [tags]="article.los ? article.los?.split(',') : []"
                  (tagsChange)="_onLOSChanged($event)" placeholder="LOS" style="width:100%">
                </app-tags-input>

                <app-tags-input [allTags]="allTopics" [tags]="article.topics | keys"
                  (tagsChange)="_onTopicsChanged($event)" placeholder="Choose Tags" style="width:100%">
                </app-tags-input>

              </mat-expansion-panel>


            </mat-accordion>


            <div class=" " style="text-align: center;">


              <div class="centered-horizonal" style="margin: auto;">
                <button mat-icon-button (click)="processSelection(textProcessors.sup)">
                  x<sup>2</sup>
                </button>
                <button mat-icon-button (click)="processSelection(textProcessors.sub)">
                  x<sub>2</sub>
                </button>




                <button mat-icon-button matTooltip="math" matTooltipPosition="above"
                  (click)="processSelection(textProcessors.math)">
                  x/y
                </button>

                <button mat-icon-button matTooltip="summary" matTooltipPosition="above"
                  (click)="processSelection(textProcessors.make_summary)">
                  <span style="font-size: 1.5rem;">+</span>
                </button>
                <button mat-icon-button matTooltip="italic" matTooltipPosition="above"
                  (click)="processSelection(textProcessors.italic)">
                  <i>I</i>
                </button>
                <button mat-icon-button matTooltip="bold" matTooltipPosition="above"
                  (click)="processSelection(textProcessors.bold)">
                  <strong>B</strong>
                </button>
                <button mat-icon-button matTooltip="link" matTooltipPosition="above"
                  (click)="processSelection(textProcessors.link)">
                  <span style="font-size: 0.8rem;">🔗</span>
                </button>




                |

                <button mat-icon-button matToolTip="save" color="primary" (click)="_save()"
                  [disabled]="loading == 'saving-article'">

                  <mat-icon *ngIf="loading != 'saving-article'">save</mat-icon>

                  <span *ngIf="loading == 'saving-article'" style="display: inline-block;">
                    <mat-spinner color="accent" diameter="25"></mat-spinner>
                  </span>
                </button>
                &nbsp;


                <a mat-icon-button matToolTip="view" href="https://alphabetaprep.com/article/{{article.url}}"
                  target="{{article.id}}">

                  <mat-icon>remove_red_eye</mat-icon>
                </a>

              </div>



            </div>



          </div>


          <div style="height: 50%;">

            <ngx-dropzone (change)="_onFileDroped($event)" [disableClick]="true"
              style="width:100%;height:100%;padding:0px;border-width:0px">

              <mat-form-field appearance="outline" style="width:100%;margin:0px">
                <mat-label>Article Body</mat-label>
                <textarea matInput style="min-height:500px" [(ngModel)]="article.body" id="editor" #editor></textarea>
              </mat-form-field>

            </ngx-dropzone>



            <small>Drag & drop images to upload.</small>






          </div>










        </div>

      </div>


    </div>

    <div class="col-right padding-responsive">

      <div style="height:20px"></div>

      <h5 style="text-align: center;">Preview</h5>
      <mat-card class="padding-responsive" style="position: sticky; top:50px; max-height:720px;overflow:scroll"
        *ngIf="article.id">




        <markdown  [data]="article.body"></markdown>



      </mat-card>


    </div>





  </div>


</div>
