<div mat-dialog-content>
  
  
  <!-- <qrcode *ngIf="data.qrData" class="centered-horizontal" [qrdata]="data.qrData" [size]="200" [level]="'M'"></qrcode> -->
  <p style="">{{data.message}}</p>


</div>
<mat-dialog-actions align="right" style="width: 100%;">
  <div class="button-row">

      <button mat-button (click)="onNoClick()">{{data.negative}}</button>
      <button mat-button  [mat-dialog-close]="data.positive">{{data.positive}}</button>
  </div>
</mat-dialog-actions>


