/* AppComponent's private CSS styles */


mat-sidenav{
	width: 65%;
}

.only-desktop{
	display: none;
}

.only-mobile{
	display: block;
}

.backdrop-content{

	background-color: #ffffff
}
@media only screen and (min-width: 600px) {
	/* For tablets: */

	[class*="header-"] {
		padding: 0px;
	}
	mat-sidenav{
		width: 15%;
		min-width: 200px;
	}
	.only-desktop{
		display: block;
	}
	.only-mobile{
		display: none;
	}

	.backdrop-content{
		// border-radius: 15px 0px 0px 15px;
	}


}
@media only screen and (min-width: 1000px) {

	mat-sidenav{
		width: 15%;
		min-width: 250px;
	}
	.header-padding{
		flex: 0 0 20%;
	}
	.only-desktop{
		display: block;
	}
	.only-mobile{
		display: none;
	}


}

.backdrop-body{
	background-color: #363636
}

.toolbar{

	background: #363636;
	z-index:5;
	height: 55px;
}


.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav *{
	width: 100%;
}








/* Columns : main*/

.content{
	/* background: #fff; */
	height: 100%;
	min-height: 600px;
	margin-top: 550px;
}






mat-sidenav{
	background-color: #eee;
	max-width: 250px;
}


.footer{
	background-color: #6f657c;
}


a{
	text-decoration: none;
}






.toolbar{
	position:fixed;
}
.toolbar *{
	color: white;

}








.mobile-app-icon-bar {

  background: #eee;
  position: fixed;
  bottom: 0px;
  width: 100%;

}


.mobile-app-icon-bar mat-button-toggle{
	width: 25%;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;


}

.mobile-app-icon-bar * {
	width:100%;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;


}
