
<h1>Orders</h1>



<mat-form-field appearance="outline" style="width:30%;">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
</mat-form-field>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell  *matCellDef="let row" [style.color]="row.color" routerLink=""   > {{row.color}}  </td>
    </ng-container>

    <ng-container matColumnDef="ShipmentDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipment Date </th>
      <td mat-cell  *matCellDef="let row"   > {{row.ShipmentDate}}  </td>
    </ng-container>

    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date  </th>
      <td mat-cell  *matCellDef="let row"   > {{row.OrderDate}}  </td>
    </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>