<!-- ng-style="{'background-image': 'url(' + bgUrl + ')'}" -->

<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    <symbol id="google-logo" aria-label="XPLAIND">

      <path style="fill:#FBBB00;" d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
       c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
       C103.821,274.792,107.225,292.797,113.47,309.408z" />
      <path style="fill:#518EF8;" d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
       c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
       c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z" />
      <path style="fill:#28B446;" d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
       c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
       c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z" />
      <path style="fill:#F14336;" d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
       c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
       C318.115,0,375.068,22.126,419.404,58.936z" />


    </symbol>

  </defs>
</svg>



<!--
      <mat-grid-list [cols]="columnCountMain" rowHeight="2:0.5" (window:resize)="onResize($event)">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
      </mat-grid-list> -->



<div style="height: 75px;"></div>

<div class="row">


  <div class="col-signin" style="text-align: center;">

    <div class="" text-align="center" style="max-width: 500px;margin:auto;padding:15px">


      <div *ngIf="!forgotPassword">

        <img
            src="assets/forapp/logo-name.png" style="padding: 30px; width: 60%">

        <mat-chip-list class="centered-horizontal">
          <mat-chip color="{{task == 'signin' ? 'primary':''}}" [selected]="task == 'signin'"
            (click)="toggleTask('signin')">Sign In</mat-chip>
          <mat-chip color="{{task == 'signup' ? 'primary':''}}" [selected]="task == 'signup'"
            (click)="toggleTask('signup')">Sign Up</mat-chip>
        </mat-chip-list>


        <mat-form-field class="form-element" *ngIf="task == 'signup'" style="width:100%">
          <input matInput [(ngModel)]="user.displayName" placeholder="Name" type="text" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
            Please enter a valid name
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" style="width:100%">
          <input matInput [(ngModel)]="user.email" placeholder="Email" type="email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>



        <mat-form-field class="form-element" style="width:100%">
          <input matInput type="password" [(ngModel)]="password" placeholder="Password" type="password"
            [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>

          <button mat-button *ngIf="task != 'signup'" [disabled]="loading" matSuffix mat-icon-button
            aria-label="Forgot password" (click)="_sendForgotPasswordEmail()" matTooltip="Forgot password?">
            🤔
          </button>
        </mat-form-field>



        <mat-form-field class="form-element" *ngIf="task == 'signup'" style="width:100%">
          <input matInput type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password" type="password"
            [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
            Password doesn't match
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Please confirm password
          </mat-error>
        </mat-form-field>



        <div style="height: 20px;"></div>

        <button mat-button color="" (click)="_submit()" [disabled]="loading" style="width: 100%">
          <b>
            CONTINUE
          </b>

          <span *ngIf="loading" style="display: inline-block;padding:5px 0px 5px 15px">
            <mat-spinner color="accent" diameter="25"></mat-spinner>
          </span>
        </button>

        <div style="height: 50px;"></div>

        <button mat-raised-button *ngIf="!loggedIn" (click)="_signInWithGoogle()" style="width: 100%;background-color:#DB4437;color:white">
          <i class="fab fa-google"></i>
          &nbsp;

            Sign in with <b>Google</b>
        </button>

        <div style="height: 10px;"></div>

        <button mat-raised-button *ngIf="!loggedIn" (click)="_signInWithFacebook()" style="width: 100%;background-color: #1778F2;color:white" >
          <i class="fab fa-facebook"></i>
          &nbsp;
          Sign in with <b>Facebook</b>
        </button>




      </div>


      <div *ngIf="forgotPassword">

        <p>Forgot password?</p>

        <mat-form-field class="form-element" style="width:100%">
          <input matInput [(ngModel)]="user.email" placeholder="Email" type="email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>



        <div style="height: 20px;"></div>

        <button mat-flat-button color="primary" (click)="_sendForgotPasswordEmail()" [disabled]="loading"
          style="width: 100%" matTooltip="A password reset email will be sent">
          <span>
            CONTINUE
          </span>

          <span *ngIf="loading" style="display: inline-block;padding:5px 0px 5px 15px">
            <mat-spinner color="accent" diameter="25"></mat-spinner>
          </span>
        </button>

      </div>




    </div>





  </div>






  <div class="col-bg only-desktop">

  </div>

</div>
