


#wrapper{
  position: relative;
  width: 100%;;
  height: 100%;
}






.background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;

  background-image: url("/assets/forapp/bg-banner.jpg");
  background-size: cover;
  background-position: right;

}







@media only screen and (max-width: 600px) {

  .card{
    height: 100%;
    padding: 0px;
  }





}


