



.main{
  color: #b4481d;
}





.menu{
  max-width: 250px;
  margin-top: 20px;
  text-align: center;
}


nav a,p{
  width: 100%;
  text-decoration: none;
  
}

nav a{
  text-align: left;
  font-size: 100%;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px 30px 30px 5px;
}


nav a:hover {
  color: lightgray;
  font-weight: 1000;
  
}



nav a.active {
  color: #039be5;
}



.section-heading{
  text-align: center;
  padding: 0px 10px;
  font-weight: bold;
  
}


.pwa{
  padding: 5px;
  font-size: 80%;
  text-align: center;
  position: relative;
  bottom: 0;
}
@media only screen and (min-width: 600px) {
	/* For tablets: */

	nav a:hover {
  }
	
}