<div style="height: 100%;" class="main">

  <div style="text-align: center;">
    <a href="https://alphabetaprep.com/" target="_blank" class="only-desktop"><img src="assets/forapp/filo-logo-2.png"
        style="padding: 30px; width: 80%;text-align:center"></a>
       
  </div>


  <!-- <a routerLink="/" style="padding: 30px; width: 100%"></a> -->


  <!-- <div class="centered-horizontal">

    <img [src]="user.photoURL ? user.photoURL : 'assets/images/user-placeholder.png'" style="border-radius:50%; max-width:50px;min-height:50px" />

  </div> -->



  <h3 style="text-align: center;">{{currentProgram?.name}} {{currentProgram?.level}}
    <small style="color:#ff4444;font-size:0.7rem">
      {{(!user.programs || (user.programs && !programService.paidAccountReadings && !programService.paidAccountTests)) ? 'FREE' :''}}</small>


  </h3>






  <nav class="menu">





    <!-- <a mat-button routerLink="/">
      <i class="fas fa-chart-bar"></i> &nbsp;&nbsp; Performance</a> -->

    <span >
      <a mat-button routerLink="/app-orders" style="font-size: 1.2rem;font-weight:500">
        <i class="fas fa-chart-bar"></i> &nbsp;&nbsp;Orders</a>
      <div style="height: 10px;"></div>
      <a mat-button routerLink="/app-new-order" style="font-size: 1.2rem;font-weight:500">
        <i class="fas fa-book-open"></i> &nbsp;&nbsp; New Order</a>

      <div style="height: 10px;"></div>
      <a mat-button routerLink="/app-inventory" style="font-size: 1.2rem;font-weight:500">
        <i class="fas fa-percent"></i> &nbsp;&nbsp; Inventory</a>


    </span>

    <div style="height: 10px;"></div>
    <a mat-button routerLink="/account" style="font-size: 1.2rem;font-weight:500">
      <i class="fas fa-user"></i> &nbsp;&nbsp; Account
      <small style="font-size: 0.7rem;">
        <a routerLink="/account" style="margin: auto;text-decoration:none;color:green"
          *ngIf="!user.programs || (user.programs  && !programService.paidAccountReadings && !programService.paidAccountTests)">UPGRADE
        </a>
      </small>
    </a>


    <div style="height: 10px;"></div>




    <span *ngIf="user && (user.email == 'bilalkhalid2240@gmail.com' || user.email == 'jan.arifullah@gmail.com') ">

      <a mat-button routerLink="/admin-users">
        Users</a>

      <a mat-button routerLink="/admin-articles">
        Articles</a>
    </span>


    <a mat-button routerLink="/signin" *ngIf="notloggedIn">Sign In</a>
    <a mat-button *ngIf="loggedIn" (click)="logout()">Logout</a>
    <!-- <a  mat-button *ngIf="loggedIn" (click)="logout()">Logout</a> -->


    <small *ngIf="user"><a mat-button target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeQbMJeiVWtFZK_NGKs02OEiSZ_3hJCGXrs3pvELlNgSWppRw/viewform?usp=pp_url&entry.839337160=&entry.2005620554={{user.displayName}}&entry.257835195=cfa-level-1&entry.1446714802={{(user.programs && !user?.programs['cfa-level-1']?.subscription) ? 'Yes': 'No'}}&entry.1045781291={{user.email}}">Contact/Support</a></small>


  </nav>






</div>
