<div style="height:100%" class="main">



  <div style="text-align: center;">
    <a href="/" target="_blank"><img src="assets/forapp/logo-name.png" style="height: 75px;text-align:center"></a>

  </div>


  <div class="centered-horizontal">
    <mat-card class="padding-responsive" style="padding: 2px">
      <span>
        <a mat-button routerLink="/find" [color]="url == '/find' ? 'primary' : ''"
          style="font-weight:500;margin:5px">
          <i class="fas fa-search"></i> &nbsp;&nbsp;Find</a>

        <a mat-button routerLink="/my-posts" [color]="url.startsWith('/post/') ? 'primary' : ''"
          style="font-weight:500;margin:5px">
          <i class="fas fa-book-open"></i> &nbsp;&nbsp;My Posts</a>



        <a mat-button routerLink="/new-post" [color]="url.startsWith('/new-post') ? 'primary' : ''"
          style="font-weight:500;margin:5px">
          <i class="fas fa-plus"></i> &nbsp;&nbsp;
          <span>
            New Post
          </span>
        </a>

      </span>


      <a mat-icon-button *ngIf="loggedIn" (click)="logout()" matTooltip="Log Out">
        <mat-icon>exit_to_app</mat-icon>
      </a>


    </mat-card>

  </div>




  <div *ngIf="user && (user.email == 'bilalkhalid2240@gmail.com' || user.email == 'jan.arifullah@gmail.com') "
    class="button-row centered-horizontal">



    <a mat-flat-button routerLink="/admin-users" style="margin: 5px;">
      Users</a>

    <a mat-flat-button routerLink="/admin-articles" style="margin: 5px;">
      Articles</a>


    <mat-divider></mat-divider>
  </div>


</div>
