<div class="container" style="max-width: 800px;">
  <div class="p-1"></div>
  <h3 class="text-center">New Post</h3>

  <div class="p-2"></div>

  <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'" style="color:white">
    <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
    <span *ngFor="let upload of files">
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="upload.file" (removed)="onRemove(upload)">
        <ngx-dropzone-label>
          {{upload.loading ? 'uploading...':''}}
        </ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </span>
  </ngx-dropzone>
  <div class="p-2"></div>


  <mat-form-field appearance="outline" style="width:100%;">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="post.title" />
  </mat-form-field>




  <mat-form-field appearance="outline" style="width:100%;">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="post.description"></textarea>
  </mat-form-field>



  <div class="row">
    <div class="col-md-6 p-r-1">
      <div>
        <mat-form-field style="width: 100%;">
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory">
            <mat-option *ngFor="let categoryKV of postCategories | keyvalue" [value]="categoryKV.key">
              {{categoryKV.key}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6 p-l-1">
      <mat-form-field *ngIf="selectedCategory" style="width: 100%;">
        <mat-label>Sub Category</mat-label>
        <mat-select [(value)]="post.category">
          <mat-option *ngFor="let categoryKV of postCategories[selectedCategory] | keyvalue" [value]="categoryKV.key">
            {{categoryKV.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="text-center">


    <button mat-button color="" (click)="save()" [disabled]="loading" style="width: 100%">
      <b>
        SAVE
      </b>

      <span *ngIf="loading == 'saving'" style="display: inline-block;padding:5px 0px 5px 15px">
        <mat-spinner color="accent" diameter="25"></mat-spinner>
      </span>
    </button>

    <p style="color: red;" *ngIf="error">{{error}}</p>

  </div>
</div>
