.col-block {
}
.currency-card {
  margin: 15px;
  height: 150px;
}




@media only screen and (min-width: 900px) {
  .col-block {
    width: 33.333%;
  }

  .col-left {
    width: 15%;
  }
  .col-middle {
    width: 70%;
  }
  .col-right {
    width: 15%;
  }


}

@media only screen and (min-width: 1200px) {
  .col-block {
    width: 25%;
  }

  .col-left {
    width: 15%;
  }
  .col-middle {
    width: 70%;
  }
  .col-right {
    width: 15%;
  }
}
