<div class="container" style="max-width: 800px;">




  <span *ngIf="loading" style="margin-top:100px;" class="centered-horizontal">
    <mat-spinner color="accent" diameter="25"></mat-spinner>
  </span>
  <div *ngIf="!loading">
    <div >
      <h2>{{post.title}}</h2>
    </div>

    <div >
      <img [src]="selectedImage.downloadURL" class="main-image">
    </div>

    <div class="p-1"></div>

    <div class="row" >

      <div (click)="changeImgTo(image)" *ngFor="let image of post.images">

        <img [src]="image.downloadURL" class="image-thumb">
        &nbsp;
        &nbsp;
      </div>
    </div>


    <div >
      Share &nbsp;

      <i class="fab fa-whatsapp"></i> &nbsp;


      <i class="fab fa-facebook"></i>


    </div>


    <div class="row">

      <div>{{post.description}}</div>

    </div>

    <div class="row">

      <div class="col-8">

        <button mat-button (click)="chat_whatsapp()"> Chat <i class="fab fa-whatsapp"></i> </button>
        &nbsp;

        <a url target="_blank"><button mat-button (click)="onClick">Call <i class="fas fa-phone"></i></button></a>

        &nbsp;
        <button mat-button (click)="showNumber()" *ngIf="!contact_visible">Show Number <i
            class="fas fa-address-book"></i></button>
        <mat-label *ngIf="contact_visible">{{post.phoneNo}}</mat-label>
      </div>
      <div class="col-4">
        Rs: {{post.price}}</div>
    </div>

    <div class="row">

      <div class="col-2"> Related ads</div>

    </div>



  </div>
</div>
