.col-block {
}
.currency-card {
  margin: 15px;
  height: 150px;
}

.image-container{

  width: 100%;
  border: 2px solid blue($color: #000000);
}
img {
  width:100%;
  height:100%;
}

.main-image{
  width:100%;
  height: 400px;
  object-fit:  cover;
}
.image-thumb{
width :60px;
height: 60px;
object-fit: cover;
}

@media only screen and (min-width: 900px) {
  .col-block {
    width: 33.333%;
  }

  .col-left {
    width: 15%;
  }
  .col-middle {
    width: 70%;
  }
  .col-right {
    width: 15%;
  }


}

@media only screen and (min-width: 1200px) {
  .col-block {
    width: 25%;
  }

  .col-left {
    width: 15%;
  }
  .col-middle {
    width: 70%;
  }
  .col-right {
    width: 15%;
  }
}
