@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');


@import "~katex/dist/katex.css"; 

/* @import url("../node_modules/@angular/material/prebuilt-themes/purple-green.css"); */

/* @import 'style-custom-theme.scss'; */

$primary-color: #003a08;

/* ******* step 2: box sizing */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ******* step 3: box sizing */

/* For mobile phones: */

[class*="col-"] {
  width: 100%;
  float: left;
}

.only-desktop {
  display: none;
}

.only-mobile {
  display: block;
}

.col-50p {
  width: 50%;
}

.col-33p {
  width: 33%;
}




/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}




	/* width */
	.thin-scrollbar::-webkit-scrollbar {
		width: 2px;
	}
	/* Track */
	.thin-scrollbar::-webkit-scrollbar-track {
		border-radius: 2px;
	}

	/* Handle */
	.thin-scrollbar::-webkit-scrollbar-thumb {
		background: #555555;
		border-radius: 10px;
	}

	/* Handle on hover */
	.thin-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #666666;
	}








  ::-webkit-scrollbar {
		width: 1px;
	}

  ::-webkit-scrollbar-track {
	}


  ::-webkit-scrollbar-thumb {
		background: #555555;
		border-radius: 10px;
	}


  ::-webkit-scrollbar-thumb:hover {
		background: #666666;
	}

  /* width */
  ::-webkit-scrollbar {
    width: 2px
  }

@media only screen and (min-width: 600px) {
  /* For tablets: */

  .col-33p {
    width: 33%;
  }
  .col-25p {
    width: 25%;
  }
  .col-75p {
    width: 75%;
  }

  .col-50p {
    width: 50%;
  }

  .col-m-4 {
    width: 25%;
  }
  .col-m-3 {
    width: 33.33333%;
  }
  .col-m-2 {
    width: 50%;
  }

  [class*="header-"] {
    padding: none;
  }
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }

  [class*="col-"] {
    min-height: 20px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-5p {
    width: 5%;
  }
  .col-10p {
    width: 10%;
  }
  .col-15p {
    width: 15%;
  }
  .col-25p {
    width: 25%;
  }
  .col-33p {
    width: 33%;
  }
  .col-50p {
    width: 50%;
  }
  .col-75p {
    width: 75%;
  }
  .col-for-sides {
    width: 10%;
  }
  .col-4 {
    width: 25%;
  }
  .col-3 {
    width: 33.33333%;
  }
  .col-2 {
    width: 50%;
  }
  .col-for-page {
    width: 65%;
    max-width: 800px;
  }
  [class*="col-"] {
    min-height: 20px;
  }

  .only-desktop {
    display: block;
  }
  .only-mobile {
    display: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
}

/* ******* step 5: clear both */
.row::after {
  content: "";
  clear: both;
  display: block;
}

.padding-responsive {
  padding: 10px 2%;
}

.clear {
  clear: both;
}

.more-text {
  text-align: right;
  width: 100%;
}

body {
  font: 15px/24px Nunito, Arial, sans-serif;
  color: black;
  margin: 0px;
  /* background: #CED7E6; */
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #006064;
}

a:hover {
  color: #00363a;
}

.link-button {
  text-decoration: none;
}

.link-button:hover {
  text-decoration: none;
  cursor: pointer;
}
nav *.active {
  color: #039be5;
}

.button-row {
  margin: 10px 0px;
  text-align: right;
}
.button-row * {
  display: inline;
}

.list-item-wrapper {
  padding: 10px 10px;
}

.center {
  margin: auto;
}

.centered-horizontal {
  display: table;
  margin: 0 auto;
}

.p-1 {
  padding: 5px 2%;
}
.maxWidthGlobal {
  max-width: 1000px;
}
.padding-global {
  padding: 5px;
}
.margin-global {
  margin: 5px;
}

.multi-lines-text {
  white-space: pre-line;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile-3 + label {
  color: #1876c4;
}
.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  /* color: #1876c4; */
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.only-print {
  visibility: hidden;
}

.allow-print {
  visibility: visible;
}

@media print {
  .only-print {
    visibility: visible;
  }

  .allow-print {
    visibility: visible;
  }
  .only-print {
    visibility: visible;
  }
}

.blur {
  -webkit-filter: blur(5px) grayscale(50%);
}

/* everywhere else */
* {
  font-family: 'Noto Sans','Palanquin', "open sans",  Titillium Web, Arial, sans-serif;
}

