<table mat-table [dataSource]="dataSource" style="width:100%;text-align: left" class="mat-elevation-z8" >

    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> File </th>
        <td mat-cell *matCellDef="let element"> {{element.ofxFile.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.ofxFile.description}} </td>
    </ng-container>

    <ng-container cdkColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef> Actions </th>

        <td mat-cell *matCellDef="let element">





            <label for="{{element.ofxFile.title}}" style="height:100%;width:100%">
                <a *ngIf="!element.loading" mat-icon-button>
                    <mat-icon matTooltip="Choose File">attach_file</mat-icon>
                </a>

            </label>
            <input id="{{element.ofxFile.title}}" type="file" (change)="upload($event,element)" accept="{{element.ofxFile.acceptedFileTypes}}"
                class=" inputfile inputfile-3" />


            <a *ngIf="element.ofxFile.downloadURL" mat-icon-button target="_blank" href="{{element.ofxFile.downloadURL}}">
                <mat-icon matTooltip="Already Uploaded">insert_drive_file</mat-icon>
            </a>

            <mat-spinner *ngIf="element.loading" diameter="30"></mat-spinner>

            <!-- <button mat-icon-button (click)="update(element.actions)"> -->

            <!-- </button> -->
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>